<mat-toolbar color="primary">
    <span>Blockchain</span>
    <span class="spacer"></span>
    <nav mat-tab-nav-bar backgroundColor="primary" [tabPanel]="tabPanel">
        <a mat-tab-link *ngFor="let route of routes"
           [routerLink]="route"
           (click)="navigateTo(route)"
           [active]="activeLink == route"> {{route | titlecase}} </a>
    </nav>
    <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

<!--    <mat-tab-nav-panel>-->
<!--        <mat-tab label="First"></mat-tab>-->
<!--        <mat-tab label="Second"> Content 2 </mat-tab>-->
<!--        <mat-tab label="Third"> Content 3 </mat-tab>-->
<!--    </mat-tab-nav-panel>-->
<!--    <button *ngFor="let link of links"-->
<!--            mat-flat-button-->
<!--            [color]="selected === link ? 'accent' : 'primary'"-->
<!--            (click)="goTo(link)"-->
<!--    >{{ link | titlecase }}</button>-->

</mat-toolbar>