<app-navibar></app-navibar>
<router-outlet></router-outlet>

<mat-toolbar class="footer">
    <span>
        Inspired by <a href="https://andersbrownworth.com/blockchain/"
                       target="_blank" rel="noopener noreferrer">Anders Brownworth's blockchain demo</a>
    </span>

    <span class="spacer"></span>
    <span>
        Made by <a href="https://github.com/traivok"
                   target="_blank" rel="noopener noreferrer">José R. A. Figueirôa</a>
    </span>

</mat-toolbar>